p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 19em;
}

h2 {
    font-weight: 700;
    font-size: 6.3em;
}

h3 {
    font-weight: 700;
    font-size: 2.3em;
}

h5 {
    font-weight: 700;
    font-size: 1.1em;
}

p {
    font-weight: 400;
    font-size: 1.1em;
    line-height: 2.5em;
}

a {
    text-decoration: none;
    color: inherit;
}

span {
    font-size: 8vw;
    font-weight: 700;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    justify-content: center;
    align-items: center;
}

main {
    margin: 100px 200px;
}

.title {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.title p {
    transition: all 0.75s cubic-bezier(.19,1,.22,1);
}

.title p:hover {
    padding-top: 25px;
}

.title h1 {
    line-height: 2em;
}

.header {
    margin-bottom: 70px;
}

#background1,
#background2,
#background3 {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 7vw;
    justify-content: space-between;
    align-items: center;
}

.content img {
    width: 600px;
}

.main-text {
    display: flex;
    flex-direction: column;
}

.main-text p {
    color: white;
    width: 750px;
}

.link {
    display: flex;
    flex-direction: row;
    color: #ffcc00;
    align-items: center;
    margin-top: 40px;
    transition: all 0.75s cubic-bezier(.19,1,.22,1);
}

.link img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.link:hover {
    padding-left: 25px;
    opacity: 0.75;
}

.components {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.sidebar h5 {
    opacity: 0.25;
    margin-bottom: 15px;
}

.button {
    display: flex;
    flex-direction: row;
    width: 300px;
    padding: 20px 20px;
    border-radius: 20px;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.button img {
    width: 50px;
    margin-right: 10px;
}

.button-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.button-text p {
    opacity: 0.25;
    margin-bottom: 0;
    line-height: 1em;
}

.button-text h5 {
    opacity: 1;
    margin-bottom: 5px;
}

.button:hover {
    background-color: #f7f7f7;
}

.expand {
    display: flex;
    flex-direction: column;
    width: 780px;
}

.expand p {
    opacity: 0.25;
}

.expand img {
    width: 20%;
    background-color: #f7f7f7;
    padding: 170px 300px;
    border-radius: 20px;
    margin: 25px 0px;
}

@media only screen and (max-width: 1660px) {
    h1 {
        font-size: 27vw;
    }

    h3 {
        font-size: 7vw;
    }

    h5,
    p {
        font-size: 4vw;
        line-height: 2em;
    }

    .main-text p span {
        font-size: 13vw;
    }

    .header p span {
        font-size: 13vw;
    }

    .sidebar {
        display: none;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    #background1,
    #background2,
    #background3 {
        height: 100%;
    }

    main {
        margin: 10vw 6vw;
    }

    .content {
        margin: 10vw 6vw;
    }

    .content img {
        width: 100%;
    }

    .main-text {
        margin: 5vw 0vw;
    }

    .main-text p {
        width: 100%;
    }

    .link img {
        display: none;
    }
}

@media only screen and (max-height: 800px) {
    .title {
        height: 100vh;
    }

    .title p {
        display: none;
    }

    #background1,
    #background2,
    #background3 {
    display: flex;
    width: 100%;
    height: 100%;
    }

    .link img {
        display: none;
    }
}