p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

h1 {
    font-weight: 700;
    font-size: 19em;
}

h2 {
    font-weight: 700;
    font-size: 6.3em;
}

h3 {
    font-weight: 700;
    font-size: 2.3em;
}

h5 {
    font-weight: 700;
    font-size: 1.125em;
}

h6 {
    font-weight: 500;
    font-size: 1.125em;
}

p {
    font-weight: 400;
    font-size: 1.125em;
    line-height: 2.5em;
}

a {
    text-decoration: none;
    color: inherit;
}

span {
    font-size: 7vw;
    font-weight: 700;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background-color: white;
}

main {
    margin: 100px 200px;
}

.title {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.title p {
    transition: all 0.75s cubic-bezier(.19,1,.22,1);
}

.title p:hover {
    padding-top: 25px;
}

.title h1 {
    line-height: 2em;
}

.header {
    margin-bottom: 70px;
}

#background1,
#background2 {
    display: flex;
    width: 100%;
    height: 50vw;
    background-color: black;
}

#background3 p{
    color: black;
    width: 600px;
}

#background3 .content {
    margin: 0;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 7vw;
    justify-content: space-between;
    align-items: center;
}

.content img {
    width: 30vw;
}

.main-text {
    display: flex;
    flex-direction: column;
}

.main-text p {
    color: white;
    width: 40vw;
}

.link {
    display: flex;
    flex-direction: row;
    color: #ffcc00;
    align-items: center;
    margin-top: 40px;
    transition: all 0.75s cubic-bezier(.19,1,.22,1);
}

.link img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.link:hover {
    padding-left: 25px;
    opacity: 0.75;
}

.components {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.sidebar h6 {
    opacity: 0.25;
    margin-bottom: 15px;
}

button {
    display: flex;
    flex-direction: row;
    width: 300px;
    padding: 20px 20px;
    border-radius: 20px;
    margin: 10px 0px;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
}

button.selected {
    background-color: #ffcc00;
    color: white;
}

button.selected:hover {
    background-color: #ffcc00;
}

button.selected p {
    opacity: 1;
}

button img {
    width: 50px;
    margin-right: 10px;
}

.button-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: initial;

}

.button-text p {
    opacity: 0.25;
    margin-bottom: 0;
    line-height: 1em;
}

.button-text h5 {
    opacity: 1;
    margin-bottom: 5px;
}

button:hover {
    background-color: #f7f7f7;
}

.expand {
    display: flex;
    flex-direction: column;
    width: 730px;
}

.expand p {
    opacity: 0.25;
}

.expand .main-image {
    display: flex;
    background-color: #f7f7f7;
    border-radius: 20px;
    margin: 25px 0px;
    height: 450px;
    width: 730px;
    align-items: center;
    justify-content: center;
}

.expand img {
    width: 20%;
}

@media only screen and (max-width: 1490px) {
    .sidebar {
        display: none;
    }

    .expand {
        width: 100%;
    }

    .expand img {
        width: 35%;
    }

    .expand .main-image {
        width: 100%;
        height: 55vw;
    }
}

@media only screen and (max-width: 1180px) {
    h1 {
        font-size: 27vw;
    }

    h3 {
        font-size: 7vw;
    }

    h5,
    p {
        line-height: 2em;
    }

    span {
        font-size: 11vw;
    }

    .sidebar {
        display: none;
    }

    .content {
        display: flex;
        flex-direction: column;
    }

    #background1,
    #background2,
    #background3 {
        display: flex;
        width: 100%;
        height: 100%;
    }

    main {
        margin: 10vw 6vw;
    }

    .content {
        margin: 10vw 6vw;
    }

    .content img {
        width: 100%;
    }

    .main-text {
        margin: 5vw 0vw;
    }

    .main-text p {
        width: 100%;
    }

    .link img {
        display: none;
    }
}

@media only screen and (max-width: 320px) {
    h5,
    p {
        font-size: 5.5vw;
    }
}